
.steps{
    max-height: 100%;
    overflow-y: auto;
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:8px;
    color:#000;
}
#logo-mais-talentos{
    width: 250px;
}

@media (max-width:780px) {
    #container-form-steps{
        flex-direction: column !important;
    }
    #list-step{
        display: flex;
    }
    #logo-mais-talentos{
        width: 150px;
    }
}